*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    text-align: center;
}
header{
    width: 100%;
    height: 100% ;
    background: rgb(23, 136, 211);
}
.logo{
    width: 30%;

}
.logo a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
nav{
    float: right;
    line-height: 100px;
}
nav a{
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 20px;
    color: rgb(245, 245, 245);
    padding: 30px 10px;
    margin: 0 1px;
    font-weight: 500;
}
nav a:hover{
    background: rgb(30, 85, 148);
    color: rgb(255, 255, 255);
    font-size: 100%;
}
.banner{
    background-image: url(descarga25.jpg);
    background-size: cover;
    background-position: center center;
    top: 100px;
    height: 100%;
    width: 100%;
    position: fixed;
}